*,::after,::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    min-height: 100vh;
}

nav{
    background-color: rgba(0, 255, 255, 0.164);
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.45);
    display: flex; 
    justify-content: space-between;
    padding: 0 3rem 0 3rem;
    font-size: 1.6rem;
}
nav h2{
    padding: 0.5rem 0;
}
nav ul{padding: 1rem 0;
    display: flex;
    justify-content: space-between;
    width: 300px;
   
}
nav ul li{
    text-transform: capitalize;
    list-style: none;
}
main{
    display: grid;
    place-items: center;
    background-color: rgba(61, 190, 245, 0.171);
    height: calc(100vh - 70px);
}
.selection{
    margin-top: 50px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    
}
.btn{
    background-color: white;
    color: rgb(218, 28, 21);
    border: 3px  solid rgb(218, 28, 21);
    font-size: 2rem;
    text-transform: uppercase;
    padding: 0.5rem 1rem;
}
.btn:hover{
    transition: 0.8s;
    background-color: rgb(218, 28, 21);
    color: white
}
.displaying{
    
    display: flex
}
.displaying img{
    width: 200px;
    height: 200px;
}
.result{
    text-align: center;
    font-size: 2.7rem;
   

}
.result div:nth-child(1){
    margin-bottom: 30px;
}

.record{
    display: flex;
    justify-content: space-around;
    width: 500px;
    font-size: 2rem;
margin-bottom: 20px;
}